<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientTemplate.Properties.Settings>
            <setting name="ClientTemplate_RealService_RealSrv" serializeAs="String">
                <value>http://localhost:28232/Services/RealSrv.asmx</value>
            </setting>
            <setting name="ClientTemplate_LogicService_LogicSrv" serializeAs="String">
                <value>http://localhost:28124/Services/LogicSrv.asmx</value>
            </setting>
        </ClientTemplate.Properties.Settings>
    </applicationSettings>
</configuration>