<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored
  <properties resource="../../database.config" />
  -->
  <!--<properties  embedded="database.config, Service.SqlMaps" />-->
  <!--<properties embedded="database.config,SqlMaps" />-->
  <properties resource="database.config" />
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
  </settings>

  <!-- Optional if resource -->
  <!--<providers embedded="providers.config,SqlMaps" />-->
  <providers resource="providers.config" />
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <!--<database>-->
  <!-- Optional ( default ) -->
  <!--<provider name="${provider}" />
        <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" />
    </database>-->
  <database>
    <provider name="${provider}" />
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" />
  </database>

  <sqlMaps>
    <!--添加Maps文件夹下的Map-->
    <sqlMap resource="Maps\LogicMaps\AdjustAccountTableMap.xml" />
    <sqlMap resource="Maps\LogicMaps\FundCollectInfoMap.xml" />
    <sqlMap resource="Maps\LogicMaps\ShowAllModelsMap.xml" />
    <sqlMap resource="Maps\LogicMaps\TableDicationaryMap.xml" />
    <sqlMap resource="Maps\LogicMaps\实体字典Map.xml" />
    <sqlMap resource="Maps\RealMaps\DspFuncMap.xml" />
    <sqlMap resource="Maps\RealMaps\DutyFunMap.xml" />
    <sqlMap resource="Maps\RealMaps\DutyMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_AccountManageMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_AdjustMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_AmountCollectMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_BranchesMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_DepositMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_InterestMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_InterestRateMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_ListidMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_MessageInfoMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_PaymentMap.xml" />
    <sqlMap resource="Maps\RealMaps\JG_SpvProtocolMap.xml" />
    <sqlMap resource="Maps\RealMaps\ParmItemMap.xml" />
    <sqlMap resource="Maps\RealMaps\ParmMap.xml" />
    <sqlMap resource="Maps\RealMaps\SerialNoConfigMap.xml" />
    <sqlMap resource="Maps\RealMaps\SysConfigMap.xml" />
    <sqlMap resource="Maps\RealMaps\UserDutyMap.xml" />
    <sqlMap resource="Maps\RealMaps\UserInfoMap.xml" />
  </sqlMaps>
</sqlMapConfig>