<#@ template debug="false" hostspecific="True" language="C#" #>
<#@include file="$(SolutionDir)\Utils\TBUild.ttinclude" #>
<#@ output extension=".i" #>
<# 
	//(* = *)这里是基本配置
	Init("T");
	NTable("Table1","Table2");
#>
<#
	List<Field> Canull;
	List<Field> Nonull;
	//亲~~~~~~~ 如果上面的基本配置好了就不要改我了。
    foreach (Page page in pages)
    {
	  if(NTables.Contains(page.Name)) continue;//排除表过滤
	  string DisplayName = page.Name; //文件名称
	  string DisplayLabel = page.Label; //文件中文表示 现在所有都是英文
      if(string.IsNullOrEmpty(DisplayLabel)){ DisplayName="None"+Flag;}//处理空字段空表情况
	  Field PrimaryField = GetPrimaryKey(page);//主键字段
	  NewFile(DisplayName+iBatisMap+".xml"); //生成文件名称定义	  
	  string EntityName = DisplayName+EntitySuffix;
	  Canull = new List<Field>();
	  Nonull = new List<Field>();
	  foreach (Field field in page.Fields){
		  if(field.CanNull||field.IsIdentity||field.Default != string.Empty) Canull.Add(field);
		  else Nonull.Add(field);
      }
	  
#>
<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<!--实体类别名-->
	<alias>
		<typeAlias alias="<#=EntityName#>" type="<#=EntityNameSpace.TrimEnd('.')#>.<#=EntityName#>,<#=EntityAssembly#>" />
	</alias>
	<!--结果返回集-->
	<resultMaps>
		<resultMap id="SelectAll<#=DisplayName#>" class="<#=EntityName#>">
<# foreach (Field field in page.Fields) { if(field.Name=="") field.Name = "Null"+Flag.ToString();#>
			<result property="<#=field.Name#>" column="<#=field.Name#>"/>
<#}#>
		</resultMap>
	</resultMaps>
	<!--操作指令-->
	<statements>
		<!--查询-->
		<select id="Select<#=DisplayName#>" resultMap="SelectAll<#=DisplayName#>">
			SELECT
<# for (int i = 0; i < page.Fields.Count; i++) {  Field field = page.Fields[i]; if(field.Name=="") { field.Name = "Null"+Flag.ToString();}#>
			<#=field.Name+((i<page.Fields.Count-1)?",":"")#>
<#}#>
			FROM <#=DisplayName#>
			WHERE  1=1
<#foreach (Field field in page.Fields) { if(field.Name=="") {field.Name = "Null"+Flag.ToString();}#>
			<isNotEmpty  prepend="AND" property="<#=field.Name#>">
				<#=field.Name#> = #<#=field.Name#>#
			</isNotEmpty>
<#}#>
			<isNotEmpty prepend="ORDER BY " property="SortField">
				$SortField$
				<isEqual property="IsDesc" compareValue="true">
				  DESC
				</isEqual>
			</isNotEmpty>
		</select>
		<!--添加-->
		<insert id="Add<#=DisplayName#>" parameterClass="<#=EntityName#>">
			INSERT INTO <#=DisplayName#>
			(

<#for (int i = 0; i < Nonull.Count; i++) {  Field field = Nonull[i];#>
				<#=((i==0)?"":",")+field.Name#>
<#}#>
<#for (int i = 0; i < Canull.Count; i++) {  Field field = Canull[i];#>
				<isNotEmpty <#=i==0&&Nonull.Count==0?"":"prepend=\",\""#>   property="<#=field.Name#>">
					<#=field.Name#>
				  </isNotEmpty>
<#}#>

			) VALUES (
			
<#for (int i = 0; i < Nonull.Count; i++) {  Field field = Nonull[i];#>
				#<#=((i==0)?"":",")+field.Name#>#
<#}#>
<#for (int i = 0; i < Canull.Count; i++) {  Field field = Canull[i]; #>
				<isNotEmpty <#=i==0&&Nonull.Count==0?"":"prepend=\",\""#>   property="<#=field.Name#>">
					#<#=field.Name#>#
				  </isNotEmpty>
<#}#>
			
			);
		</insert>
		<!--更新-->

		<update id ="Update<#=DisplayName#>" parameterClass="<#=EntityName#>">
			UPDATE <#=DisplayName#>
			SET
			<#=PrimaryField.Name#> = #<#=PrimaryField.Name#>#
<#for (int i = 0; i < page.Fields.Count; i++){ Field field = page.Fields[i]; if(field.Name==""){ field.Name = "Null"+Flag.ToString();}#>
			<isNotEmpty prepend="," property="<#=field.Name#>">
				<#=field.Name#> = #<#=field.Name#>#
			</isNotEmpty>
<#}#>
			WHERE  <#=PrimaryField.Name#> = #<#=PrimaryField.Name#>#
		</update>
		<!--删除-->
		<delete id="Delete<#=DisplayName#>" parameterClass="string">
			DELETE <#=DisplayName#> WHERE  <#=PrimaryField.Name#> = #value#;
		</delete>

	</statements>
</sqlMap>
<#}EndFile();#>
