<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.NTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Test.NTest.Properties.Settings>
            <setting name="Test_NTest_Real_RealSrv" serializeAs="String">
                <value>http://localhost:28232/Services/RealSrv.asmx</value>
            </setting>
        </Test.NTest.Properties.Settings>
    </applicationSettings>
</configuration>