<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SQLite数据库文件路径-->
    <add key="SQLiteSource" value="C:\Users\Administrator\Desktop\徐州方管项目.db" />
    <!--SQLServer连接字符串-->
    <add key="SQLServerSource" value="Data Source=192.168.1.103\SQLEXPRESS;Initial Catalog=FinancialRegulation;User ID=sa;Password=111111" />
    <!--执行获取实体的配置-->
    <add key="ExecuteSQL" value="SELECT	FieldName,FieldRemark,FieldLabel,FieldType,FieldPageName,FieldPageLabel FROM ShowAllModels " />
    <!--字段页面名称(英文名称|类名)-->
    <add key="FieldPageName" value="FieldPageName" />
    <!--字段页面标签(中文名称|注释)-->
    <add key="FieldPageLabel" value="FieldPageLabel" />
    <!--页面注释(与下面有冲突)-->
    <add key="FieldRemark" value="FieldRemark" />
    <!--字段名称(字段名)-->
    <add key="FieldName" value="FieldName" />
    <!--字段备注(注释)-->
    <add key="FieldRemark" value="FieldRemark" />
    <!--字段类型-->
    <add key="FieldType" value="FieldType" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>